In [2]:
import pandas as pd
import numpy as np

In [3]:
edges = pd.read_csv('cora.cites', sep='\t', header=None,names=["Target", "Source"])

In [4]:
edges = edges.append(edges.rename(columns={'Target':'Source', 'Source':'Target'})).drop_duplicates()

In [5]:
feature_names = ["w_{}".format(ii) for ii in range(1433)]
column_names =  feature_names + ["subject"]
nodes = pd.read_csv("cora.content", sep='\t', header=None, names=column_names)

In [6]:
nodes.subject

31336             Neural_Networks
1061127             Rule_Learning
1106406    Reinforcement_Learning
13195      Reinforcement_Learning
37879       Probabilistic_Methods
                    ...
1128975        Genetic_Algorithms
1128977        Genetic_Algorithms
1128978        Genetic_Algorithms
117328                 Case_Based
24043             Neural_Networks
Name: subject, Length: 2708, dtype: object

In [7]:
from sklearn import preprocessing

In [8]:
le = preprocessing.LabelEncoder()

In [9]:
le.fit(nodes.subject)

LabelEncoder()

In [10]:
nodes.subject = le.transform(nodes.subject)

In [11]:
nodes

,w_0,w_1,w_2,w_3,w_4,w_5,w_6,w_7,w_8,w_9,...,w_1424,w_1425,w_1426,w_1427,w_1428,w_1429,w_1430,w_1431,w_1432,subject
31336,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2
1061127,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,5
1106406,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
13195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
37879,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128975,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1128977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1128978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
117328,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [12]:
features = dict(zip(nodes.index,[l.tolist() for l in nodes.values]))

In [13]:
edges

       Target   Source
0          35     1033
1          35   103482
2          35   103515
3          35  1050679
4          35  1103960
...       ...      ...
5423   853155   853115
5425   853155   853116
5426  1140289   853118
5427   853118   853155
5428  1155073   954315

[10556 rows x 2 columns]

In [14]:
import json
with open("cora_features", "w") as fp:
    json.dump(features , fp)

In [15]:
edges.to_csv('cora_edges.csv', index=False)